<div id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <img src="/images/TMT-logo.png" alt="TMT Logo" class="sticky-top">
        <img src="/images/street_logo.png" alt="Street logo">
        <img src="/images/StoneChurch_logo.png">
       <!-- <img src="/images/BritishBeer_logo.png" alt="British Beer Company logo"  class="fixedleft"> -->
      </div>
      <div class="col-8">
        <h1 class="font-effect-wallpaper" style="font-size:65px; font-family:Shojumaru; color:black">Happy Hours Near You</h1>
        <br>

          <div id="monday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Monday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.monday}}" aria-expanded="false" aria-controls="{{this.monday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.monday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.monday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="tuesday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Tuesday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.tuesday}}" aria-expanded="false" aria-controls="{{this.tuesday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.tuesday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.tuesday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="wednesday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Wednesday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.wednesday}}" aria-expanded="false" aria-controls="{{this.wednesday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.wednesday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.wednesday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="thursday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Thursday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.thursday}}" aria-expanded="false" aria-controls="{{this.thursday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.thursday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.thursday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="friday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Friday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.friday}}" aria-expanded="false" aria-controls="{{this.friday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.friday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.friday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="saturday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Saturday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.saturday}}" aria-expanded="false" aria-controls="{{this.saturday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.saturday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.saturday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>

          <div id="sunday" class="clearfix">
            <h2 class="font-effect-shadow-multiple" style="font-size:40px; font-family:Shojumaru;">Sunday </h2>
            {{#each user}}
            <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{this.sunday}}" aria-expanded="false" aria-controls="{{this.sunday}}" style="text-decoration:none;">
                       Name: {{this.business}} | Event: {{this.sunday}}
                    </button>
                  </h5>
                </div>

                <div id="{{this.sunday}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    Location: {{this.address}} | {{this.state}} | {{this.city}} | {{this.zip}}
                  </div>
                </div>
              
            </div>
            {{/each}}

          </div>
      </div>

      <div class="col-2">
        <img src="/images/Row34_logo.png" alt="Row 34 logo" class="sticky-top">
        <img src="/images/portsmouth-brewery-logo.png" alt="Portsmouth Brewery logo">
        <img src="/images/FatBellys_logo.png" alt="Fat Belly's logo">
        <!--<img src="/images/Mojos-Logo.png" alt="Mojos logo"  class="fixedright">-->
        
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
